{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="about-hero">
    <div class="about-overlay">
        <h1>✨ About Our Jewellery ✨</h1>
        <p>Crafting Elegance, Creating Memories,unique value,craftsmanship and quality</p>
    </div>
</section>

<section class="about-story">

    <div class="story-card">
        <h2>💎 Our Story</h2>
        <p>
            Our Jewellery was created with a dream to bring beauty,
            elegance and luxury into every special moment of life.
            Every piece is designed with love and perfection.
        </p>
    </div>

    <div class="story-card">
        <h2>🌸 Our Mission</h2>
        <p>
            To provide timeless jewellery collections that make every
            woman feel confident, beautiful and unique.
        </p>
    </div>

    <div class="story-card">
        <h2>👑 Why Choose Us?</h2>
        <p>
            Premium Quality • Unique Designs • Trusted Service •
            Affordable Luxury
        </p>
    </div>

</section>

<section class="quote-section">
    <h2>"Jewellery is more than an accessory, it is a memory that lasts forever."</h2>
</section>

{% endblock %}